.DS_Store
*.fak
1666_3_grp.pi
martina/*
multifake.tcl
chi_vs_alpha.txt
norm_vs_alpha.txt
rho_vs_alpha.txt
smallscript.tcl
sub_shell6.tmp
t_vs_alpha.txt
temp_vs_alpha.txt
test.tcl
test2.tcl
vol_vs_alpha.txt
1666_3.wfef